body {
  background-color: rgb(205, 125, 193);
}
.pages {
  background-color: rgb(157, 59, 134);
  padding: 40px;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
  font-weight:bold ;
}
li {
  list-style-type: none;
  margin-right: 50px;
}
